<!DOCTYPE html>
<html>
  <head>
    <title>XP2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="topnav">
      <li><a class="topnav-title">XP2</a></li>
      <li><a href=<%= root_url %>>Home</a></li>
      <% if user_signed_in? %>
        <li><a href=<%= new_user_post_url(current_user.id) %>>Post</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path) %></li>
        <li><%= link_to('Sign-up', new_user_registration_path) %></li>
      <% end %>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
