<%= form_with scope: :post, url: user_posts_path do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>
